@import "tailwindcss";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@theme {
  --color-primary-gray-100: #f0f4f8;
  --color-primary-gray-200: #e6ebf1;
  --color-primary-gray-300: #d6dfe6;
  --color-primary-gray-400: #2b3f53;
  --color-primary-gray-500: #384c64;
  --color-primary: #75c0c2;
  --color-primary-100: #99c5c6;
  --color-primary-200: #406473;
  --color-primary-400: #2b3f53;
  --color-secondary: #ec617b;
  --color-backdrop: #00000033;
  --font-work-sans: 'Work Sans', sans-serif;
}

.animate-slide-down {
	animation-name: slideDown;
	-webkit-animation-name: slideDown;	

	animation-duration: .5s;	
	-webkit-animation-duration: .5s;

	animation-timing-function: ease;	
	-webkit-animation-timing-function: ease;	
}

.animate-slide-up {
	animation-name: slideUp;
	-webkit-animation-name: slideUp;	

	animation-duration: .5s;	
	-webkit-animation-duration: .5s;

	animation-timing-function: ease;	
	-webkit-animation-timing-function: ease;	
}

@keyframes slideDown {
	0% {
		transform: translateY(-100%);
	}		
	100% {
		transform: translateY(0%);
	}		
}

@keyframes slideUp {
	0% {
		transform: translateY(0%);
    opacity: 1;
    display: block;
	}		
	99% {
		transform: translateY(-99%);
    opacity: 0;
	}
  100% {
		transform: translateY(-100%);
    display: none;
  }		
}